 body {
      margin: 0;
      font-family: 'Open Sans', sans-serif;
      background-color: #f4f4f4;
    }
.nav-btn {
  display: block;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  background-color: #444;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}

.nav-btn:hover {
  background-color: #666;
}

    /* Cabecera */
    .header {
      background-color: #4a4a4a;
      color: white;
       padding: 15px 20px 15px 60px; 
       justify-content: flex-start;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .header h1 {
      margin: 0;
      font-size: 1.5em;
    }

  .menu-button {
  font-size: 1.2em;
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 1001;
  transition: left 0.3s;
}
.sidebar-open .menu-button {
  left: 270px; /* se mueve a la derecha cuando sidebar está abierto */
}



    /* Barra lateral */
    .sidebar {
      height: 100%;
      width: 0;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #222;
      overflow-x: hidden;
      transition: 0.3s;
      padding-top: 60px;
    }

    .sidebar-content {
      color: white;
      padding: 20px;
    }

    .sidebar a {
      color: #ddd;
      text-decoration: none;
      display: block;
      margin-top: 20px;
    }

    .main-content {
      padding: 20px;
      margin-top: 60px;
      text-align: center;
    }

    .main-content h2 {
      color: #333;
    }

    .overlay {
      position: fixed;
      display: none;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: rgba(0,0,0,0.4);
      z-index: 998;
    }
  </style>
